*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;

    caption {
        padding: 4px;
        margin: auto;
        font-size: 24px;
        font-weight: 700;
        color: red;
        background-color: gray;
        width: fit-content;
    }
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: lightgray;
}
